@using GigHub.Models
@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}


<ul class="list-group">
    @foreach (var gig in Model)
{
    <li class="list-group-item">@gig.DateTime - @gig.Artist.Name</li>
}
</ul>

